.lc--footer {
  background-color: #f9f9f9;
  .socials {
    display: none;
    @include breakpoint(md) {
      display: flex;
    }
  }
  img {
    width: 93px;
    @include breakpoint(md) {
      width: 123px;
    }
  }
  p {
    color: #000000;
    padding-top: 60px;
    font-size: 14px;
    line-height: 24px;
    @include breakpoint(md) {
      font-size: 12px;
    }
  }
  span {
    font-size: 12px;
    padding-top: 82px;
    padding-bottom: 20px;
    display: block;
  }
  li {
    font-size: 18px;
    @include breakpoint(md) {
      font-size: 12px;
    }
  }

  .footer-socials {
    display: flex;
    align-items: center;
    @include breakpoint(md) {
      display: none;
    }

    a {
      text-decoration: none;
      display: inline-block;
      margin: 0 var(--space-xs) 0 0;
      color: var(--color-contrast-high); // icons color

      &:hover {
        color: var(--color-primary);
      }

      img {
        display: block;
        width: 52px;
        margin-right: 13px;
      }
    }
  }
}
