.company-hero {
  h1 {
    font-size: 27px;
    color: #ffffff;
    line-height: 30px;
    @include breakpoint(md) {
      font-size: 37px;
      line-height: 43.5px;
    }
  }
  p {
    font-size: 17px;
    color: #ffffff;
    @include breakpoint(md) {
      font-size: 15px;
      line-height: 21px;
      width: 80%;
    }
  }
}

.chat-image {
  position: absolute;
  left: 60%;
  top: 35%;
  width: 700px;
}

.timeline-company {
  h1 {
    font-size: 37px;
    line-height: 43.5px;
  }
  p {
    font-size: 15px;
  }
}
