.btn {
  // --btn-font-size: 19px;
  --btn-padding-x: var(--space-md);
  --btn-padding-y: var(--space-xs);
  --btn-radius: 26px;
  cursor: pointer;
  text-decoration: none;
  @include fontSmooth;
  transition: all 0.2s ease;

  &:hover {
    box-shadow: var(--shadow-sm);
  }

  &:focus {
    box-shadow: 0px 0px 0px 2px alpha(var(--color-contrast-higher), 0.15);
    outline: none;
  }

  &:active {
    transform: translateY(2px);
  }
}

.btn--black {
  background-color: black;
  color: #ffffff;
  font-size: 17px;
  line-height: 27px;
  width: 100%;
  @include breakpoint(md) {
    width: 37%;
    font-size: 14.5px;
  }
}

.btn--transparent {
  background-color: transparent;
  border: 1px solid #000000;
  font-size: 17px;
  line-height: 27px;
  width: 100%;
  @include breakpoint(md) {
    width: 37%;
    font-size: 14.5px;
  }
}

.btn--white {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  @include breakpoint(md) {
    font-size: 13px;
  }
}

.btn--green {
  background-color: #12e85c;
  color: #000000;
  @include breakpoint(md) {
    font-size: 13px;
  }
}

.btn--white-bg {
  background-color: white;
  border: 1px solid white;
  color: #3b75e8;
  @include breakpoint(md) {
    font-size: 13px;
  }
}
