:root, [data-theme="default"] {
  // main
  @include defineColorHSL(--color-primary-darker, 42, 96%, 34%);
  @include defineColorHSL(--color-primary-dark, 42, 96%, 44%);
  @include defineColorHSL(--color-primary, 42, 96%, 54%);
  @include defineColorHSL(--color-primary-light, 42, 96%, 64%);
  @include defineColorHSL(--color-primary-lighter, 42, 96%, 74%);

  @include defineColorHSL(--color-accent-darker, 349, 75%, 36%);
  @include defineColorHSL(--color-accent-dark, 349, 75%, 44%);
  @include defineColorHSL(--color-accent, 349, 75%, 51%);
  @include defineColorHSL(--color-accent-light, 349, 75%, 59%);
  @include defineColorHSL(--color-accent-lighter, 349, 75%, 67%);

  @include defineColorHSL(--color-secondary-darker, 220, 79%, 37%);
  @include defineColorHSL(--color-secondary-dark, 220, 79%, 47%);
  @include defineColorHSL(--color-secondary, 220, 79%, 57%);
  @include defineColorHSL(--color-secondary-light, 220, 79%, 67%);
  @include defineColorHSL(--color-secondary-lighter, 220, 79%, 77%);

  @include defineColorHSL(--color-tertiary-darker, 42, 96%, 34%);
  @include defineColorHSL(--color-tertiary-dark, 42, 96%, 44%);
  @include defineColorHSL(--color-tertiary, 42, 96%, 54%);
  @include defineColorHSL(--color-tertiary-light, 42, 96%, 64%);
  @include defineColorHSL(--color-tertiary-lighter, 42, 96%, 74%);

  @include defineColorHSL(--color-dark-blue-darker, 42, 96%, 34%);
  @include defineColorHSL(--color-dark-blue-dark, 42, 96%, 44%);
  @include defineColorHSL(--color-dark-blue, 42, 96%, 54%);
  @include defineColorHSL(--color-dark-blue-light, 42, 96%, 64%);
  @include defineColorHSL(--color-dark-blue-lighter, 42, 96%, 74%);

  @include defineColorHSL(--color-bright-blue-darker, 42, 96%, 34%);
  @include defineColorHSL(--color-bright-blue-dark, 42, 96%, 44%);
  @include defineColorHSL(--color-bright-blue, 42, 96%, 54%);
  @include defineColorHSL(--color-bright-blue-light, 42, 96%, 64%);
  @include defineColorHSL(--color-bright-blue-lighter, 42, 96%, 74%);

  @include defineColorHSL(--color-footer-darker, 42, 96%, 34%);
  @include defineColorHSL(--color-footer-dark, 42, 96%, 44%);
  @include defineColorHSL(--color-footer, 42, 96%, 54%);
  @include defineColorHSL(--color-footer-light, 42, 96%, 64%);
  @include defineColorHSL(--color-footer-lighter, 42, 96%, 74%);

  @include defineColorHSL(--color-color-log-bg-darker, 42, 96%, 34%);
  @include defineColorHSL(--color-color-log-bg-dark, 42, 96%, 44%);
  @include defineColorHSL(--color-color-log-bg, 42, 96%, 54%);
  @include defineColorHSL(--color-color-log-bg-light, 42, 96%, 64%);
  @include defineColorHSL(--color-color-log-bg-lighter, 42, 96%, 74%);

  @include defineColorHSL(--color-text-grey-darker, 42, 96%, 34%);
  @include defineColorHSL(--color-text-grey-dark, 42, 96%, 44%);
  @include defineColorHSL(--color-text-grey, 42, 96%, 54%);
  @include defineColorHSL(--color-text-grey-light, 42, 96%, 64%);
  @include defineColorHSL(--color-text-grey-lighter, 42, 96%, 74%);

  @include defineColorHSL(--color-text-blue-darker, 42, 96%, 34%);
  @include defineColorHSL(--color-text-blue-dark, 42, 96%, 44%);
  @include defineColorHSL(--color-text-blue, 42, 96%, 54%);
  @include defineColorHSL(--color-text-blue-light, 42, 96%, 64%);
  @include defineColorHSL(--color-text-blue-lighter, 42, 96%, 74%);

  @include defineColorHSL(--color-button-green-darker, 141, 84%, 25%);
  @include defineColorHSL(--color-button-green-dark, 141, 84%, 35%);
  @include defineColorHSL(--color-button-green, 141, 84%, 45%);
  @include defineColorHSL(--color-button-green-light, 141, 84%, 55%);
  @include defineColorHSL(--color-button-green-lighter, 141, 84%, 65%);

  @include defineColorHSL(--color-black, 240, 8%, 12%);
  @include defineColorHSL(--color-white, 0, 0%, 100%);

  // feedback
  @include defineColorHSL(--color-warning-darker, 46, 100%, 47%);
  @include defineColorHSL(--color-warning-dark, 46, 100%, 50%);
  @include defineColorHSL(--color-warning, 46, 100%, 61%);
  @include defineColorHSL(--color-warning-light, 46, 100%, 71%);
  @include defineColorHSL(--color-warning-lighter, 46, 100%, 80%);

  @include defineColorHSL(--color-success-darker, 94, 48%, 42%);
  @include defineColorHSL(--color-success-dark, 94, 48%, 48%);
  @include defineColorHSL(--color-success, 94, 48%, 56%);
  @include defineColorHSL(--color-success-light, 94, 48%, 65%);
  @include defineColorHSL(--color-success-lighter, 94, 48%, 74%);

  @include defineColorHSL(--color-error-darker, 349, 75%, 36%);
  @include defineColorHSL(--color-error-dark, 349, 75%, 44%);
  @include defineColorHSL(--color-error, 349, 75%, 51%);
  @include defineColorHSL(--color-error-light, 349, 75%, 59%);
  @include defineColorHSL(--color-error-lighter, 349, 75%, 67%);

  // color contrasts
  @include defineColorHSL(--color-bg, 0, 0%, 100%);
  @include defineColorHSL(--color-contrast-lower, 0, 0%, 95%);
  @include defineColorHSL(--color-contrast-low, 240, 1%, 83%);
  @include defineColorHSL(--color-contrast-medium, 240, 1%, 48%);
  @include defineColorHSL(--color-contrast-high, 240, 4%, 20%);
  @include defineColorHSL(--color-contrast-higher, 240, 8%, 12%);
}

@supports(--css: variables) {
  [data-theme="Untitled"] {
    // main
    @include defineColorHSL(--color-primary-darker, 42, 96%, 34%);
    @include defineColorHSL(--color-primary-dark, 42, 96%, 44%);
    @include defineColorHSL(--color-primary, 42, 96%, 54%);
    @include defineColorHSL(--color-primary-light, 42, 96%, 64%);
    @include defineColorHSL(--color-primary-lighter, 42, 96%, 74%);

    @include defineColorHSL(--color-accent-darker, 349, 75%, 36%);
    @include defineColorHSL(--color-accent-dark, 349, 75%, 44%);
    @include defineColorHSL(--color-accent, 349, 75%, 51%);
    @include defineColorHSL(--color-accent-light, 349, 75%, 59%);
    @include defineColorHSL(--color-accent-lighter, 349, 75%, 67%);

    @include defineColorHSL(--color-secondary-darker, 220, 79%, 37%);
    @include defineColorHSL(--color-secondary-dark, 220, 79%, 47%);
    @include defineColorHSL(--color-secondary, 220, 79%, 57%);
    @include defineColorHSL(--color-secondary-light, 220, 79%, 67%);
    @include defineColorHSL(--color-secondary-lighter, 220, 79%, 77%);

    @include defineColorHSL(--color-tertiary-darker, 253, 78%, 37%);
    @include defineColorHSL(--color-tertiary-dark, 253, 78%, 47%);
    @include defineColorHSL(--color-tertiary, 253, 78%, 57%);
    @include defineColorHSL(--color-tertiary-light, 253, 78%, 67%);
    @include defineColorHSL(--color-tertiary-lighter, 253, 78%, 77%);

    @include defineColorHSL(--color-dark-blue-darker, 212, 62%, 0%);
    @include defineColorHSL(--color-dark-blue-dark, 212, 62%, 7%);
    @include defineColorHSL(--color-dark-blue, 212, 62%, 14%);
    @include defineColorHSL(--color-dark-blue-light, 212, 62%, 24%);
    @include defineColorHSL(--color-dark-blue-lighter, 212, 62%, 34%);

    @include defineColorHSL(--color-bright-blue-darker, 220, 79%, 37%);
    @include defineColorHSL(--color-bright-blue-dark, 220, 79%, 47%);
    @include defineColorHSL(--color-bright-blue, 220, 79%, 57%);
    @include defineColorHSL(--color-bright-blue-light, 220, 79%, 67%);
    @include defineColorHSL(--color-bright-blue-lighter, 220, 79%, 77%);

    @include defineColorHSL(--color-footer-darker, 0, 0%, 78%);
    @include defineColorHSL(--color-footer-dark, 0, 0%, 88%);
    @include defineColorHSL(--color-footer, 0, 0%, 98%);
    @include defineColorHSL(--color-footer-light, 0, 0%, 99%);
    @include defineColorHSL(--color-footer-lighter, 0, 0%, 100%);

    @include defineColorHSL(--color-color-log-bg-darker, 253, 78%, 37%);
    @include defineColorHSL(--color-color-log-bg-dark, 253, 78%, 47%);
    @include defineColorHSL(--color-color-log-bg, 253, 78%, 57%);
    @include defineColorHSL(--color-color-log-bg-light, 253, 78%, 67%);
    @include defineColorHSL(--color-color-log-bg-lighter, 253, 78%, 77%);

    @include defineColorHSL(--color-text-grey-darker, 0, 0%, 13%);
    @include defineColorHSL(--color-text-grey-dark, 0, 0%, 23%);
    @include defineColorHSL(--color-text-grey, 0, 0%, 33%);
    @include defineColorHSL(--color-text-grey-light, 0, 0%, 43%);
    @include defineColorHSL(--color-text-grey-lighter, 0, 0%, 53%);

    @include defineColorHSL(--color-text-blue-darker, 212, 62%, 0%);
    @include defineColorHSL(--color-text-blue-dark, 212, 62%, 7%);
    @include defineColorHSL(--color-text-blue, 212, 62%, 14%);
    @include defineColorHSL(--color-text-blue-light, 212, 62%, 24%);
    @include defineColorHSL(--color-text-blue-lighter, 212, 62%, 34%);

    @include defineColorHSL(--color-button-green-darker, 42, 96%, 34%);
    @include defineColorHSL(--color-button-green-dark, 42, 96%, 44%);
    @include defineColorHSL(--color-button-green, 42, 96%, 54%);
    @include defineColorHSL(--color-button-green-light, 42, 96%, 64%);
    @include defineColorHSL(--color-button-green-lighter, 42, 96%, 74%);

    @include defineColorHSL(--color-black, 240, 8%, 12%);
    @include defineColorHSL(--color-white, 0, 0%, 100%);

    // feedback
    @include defineColorHSL(--color-warning-darker, 46, 100%, 47%);
    @include defineColorHSL(--color-warning-dark, 46, 100%, 50%);
    @include defineColorHSL(--color-warning, 46, 100%, 61%);
    @include defineColorHSL(--color-warning-light, 46, 100%, 71%);
    @include defineColorHSL(--color-warning-lighter, 46, 100%, 80%);

    @include defineColorHSL(--color-success-darker, 94, 48%, 42%);
    @include defineColorHSL(--color-success-dark, 94, 48%, 48%);
    @include defineColorHSL(--color-success, 94, 48%, 56%);
    @include defineColorHSL(--color-success-light, 94, 48%, 65%);
    @include defineColorHSL(--color-success-lighter, 94, 48%, 74%);

    @include defineColorHSL(--color-error-darker, 349, 75%, 36%);
    @include defineColorHSL(--color-error-dark, 349, 75%, 44%);
    @include defineColorHSL(--color-error, 349, 75%, 51%);
    @include defineColorHSL(--color-error-light, 349, 75%, 59%);
    @include defineColorHSL(--color-error-lighter, 349, 75%, 67%);

    // color contrasts
    @include defineColorHSL(--color-bg, 0, 0%, 100%);
    @include defineColorHSL(--color-contrast-lower, 0, 0%, 95%);
    @include defineColorHSL(--color-contrast-low, 240, 1%, 83%);
    @include defineColorHSL(--color-contrast-medium, 240, 1%, 48%);
    @include defineColorHSL(--color-contrast-high, 240, 4%, 20%);
    @include defineColorHSL(--color-contrast-higher, 240, 8%, 12%);
  }
}

@supports(--css: variables) {
  [data-theme=""] {
    // main
    @include defineColorHSL(--color-primary-darker, 42, 96%, 34%);
    @include defineColorHSL(--color-primary-dark, 42, 96%, 44%);
    @include defineColorHSL(--color-primary, 42, 96%, 54%);
    @include defineColorHSL(--color-primary-light, 42, 96%, 64%);
    @include defineColorHSL(--color-primary-lighter, 42, 96%, 74%);

    @include defineColorHSL(--color-accent-darker, 349, 75%, 36%);
    @include defineColorHSL(--color-accent-dark, 349, 75%, 44%);
    @include defineColorHSL(--color-accent, 349, 75%, 51%);
    @include defineColorHSL(--color-accent-light, 349, 75%, 59%);
    @include defineColorHSL(--color-accent-lighter, 349, 75%, 67%);

    @include defineColorHSL(--color-secondary-darker, 220, 79%, 37%);
    @include defineColorHSL(--color-secondary-dark, 220, 79%, 47%);
    @include defineColorHSL(--color-secondary, 220, 79%, 57%);
    @include defineColorHSL(--color-secondary-light, 220, 79%, 67%);
    @include defineColorHSL(--color-secondary-lighter, 220, 79%, 77%);

    @include defineColorHSL(--color-tertiary-darker, 42, 96%, 34%);
    @include defineColorHSL(--color-tertiary-dark, 42, 96%, 44%);
    @include defineColorHSL(--color-tertiary, 42, 96%, 54%);
    @include defineColorHSL(--color-tertiary-light, 42, 96%, 64%);
    @include defineColorHSL(--color-tertiary-lighter, 42, 96%, 74%);

    @include defineColorHSL(--color-dark-blue-darker, 42, 96%, 34%);
    @include defineColorHSL(--color-dark-blue-dark, 42, 96%, 44%);
    @include defineColorHSL(--color-dark-blue, 42, 96%, 54%);
    @include defineColorHSL(--color-dark-blue-light, 42, 96%, 64%);
    @include defineColorHSL(--color-dark-blue-lighter, 42, 96%, 74%);

    @include defineColorHSL(--color-bright-blue-darker, 42, 96%, 34%);
    @include defineColorHSL(--color-bright-blue-dark, 42, 96%, 44%);
    @include defineColorHSL(--color-bright-blue, 42, 96%, 54%);
    @include defineColorHSL(--color-bright-blue-light, 42, 96%, 64%);
    @include defineColorHSL(--color-bright-blue-lighter, 42, 96%, 74%);

    @include defineColorHSL(--color-footer-darker, 42, 96%, 34%);
    @include defineColorHSL(--color-footer-dark, 42, 96%, 44%);
    @include defineColorHSL(--color-footer, 42, 96%, 54%);
    @include defineColorHSL(--color-footer-light, 42, 96%, 64%);
    @include defineColorHSL(--color-footer-lighter, 42, 96%, 74%);

    @include defineColorHSL(--color-color-log-bg-darker, 42, 96%, 34%);
    @include defineColorHSL(--color-color-log-bg-dark, 42, 96%, 44%);
    @include defineColorHSL(--color-color-log-bg, 42, 96%, 54%);
    @include defineColorHSL(--color-color-log-bg-light, 42, 96%, 64%);
    @include defineColorHSL(--color-color-log-bg-lighter, 42, 96%, 74%);

    @include defineColorHSL(--color-text-grey-darker, 42, 96%, 34%);
    @include defineColorHSL(--color-text-grey-dark, 42, 96%, 44%);
    @include defineColorHSL(--color-text-grey, 42, 96%, 54%);
    @include defineColorHSL(--color-text-grey-light, 42, 96%, 64%);
    @include defineColorHSL(--color-text-grey-lighter, 42, 96%, 74%);

    @include defineColorHSL(--color-text-blue-darker, 42, 96%, 34%);
    @include defineColorHSL(--color-text-blue-dark, 42, 96%, 44%);
    @include defineColorHSL(--color-text-blue, 42, 96%, 54%);
    @include defineColorHSL(--color-text-blue-light, 42, 96%, 64%);
    @include defineColorHSL(--color-text-blue-lighter, 42, 96%, 74%);

    @include defineColorHSL(--color-button-green-darker, 42, 96%, 34%);
    @include defineColorHSL(--color-button-green-dark, 42, 96%, 44%);
    @include defineColorHSL(--color-button-green, 42, 96%, 54%);
    @include defineColorHSL(--color-button-green-light, 42, 96%, 64%);
    @include defineColorHSL(--color-button-green-lighter, 42, 96%, 74%);

    @include defineColorHSL(--color-black, 240, 8%, 12%);
    @include defineColorHSL(--color-white, 0, 0%, 100%);

    // feedback
    @include defineColorHSL(--color-warning-darker, 46, 100%, 47%);
    @include defineColorHSL(--color-warning-dark, 46, 100%, 50%);
    @include defineColorHSL(--color-warning, 46, 100%, 61%);
    @include defineColorHSL(--color-warning-light, 46, 100%, 71%);
    @include defineColorHSL(--color-warning-lighter, 46, 100%, 80%);

    @include defineColorHSL(--color-success-darker, 94, 48%, 42%);
    @include defineColorHSL(--color-success-dark, 94, 48%, 48%);
    @include defineColorHSL(--color-success, 94, 48%, 56%);
    @include defineColorHSL(--color-success-light, 94, 48%, 65%);
    @include defineColorHSL(--color-success-lighter, 94, 48%, 74%);

    @include defineColorHSL(--color-error-darker, 349, 75%, 36%);
    @include defineColorHSL(--color-error-dark, 349, 75%, 44%);
    @include defineColorHSL(--color-error, 349, 75%, 51%);
    @include defineColorHSL(--color-error-light, 349, 75%, 59%);
    @include defineColorHSL(--color-error-lighter, 349, 75%, 67%);

    // color contrasts
    @include defineColorHSL(--color-bg, 0, 0%, 100%);
    @include defineColorHSL(--color-contrast-lower, 0, 0%, 95%);
    @include defineColorHSL(--color-contrast-low, 240, 1%, 83%);
    @include defineColorHSL(--color-contrast-medium, 240, 1%, 48%);
    @include defineColorHSL(--color-contrast-high, 240, 4%, 20%);
    @include defineColorHSL(--color-contrast-higher, 240, 8%, 12%);
  }
}

// background-color
.bg-secondary-darker { background-color: alpha(var(--color-secondary-darker), var(--bg-o, 1)); }
.bg-secondary-dark { background-color: alpha(var(--color-secondary-dark), var(--bg-o, 1)); }
.bg-secondary { background-color: alpha(var(--color-secondary), var(--bg-o, 1)); }
.bg-secondary-light { background-color: alpha(var(--color-secondary-light), var(--bg-o, 1)); }
.bg-secondary-lighter { background-color: alpha(var(--color-secondary-lighter), var(--bg-o, 1)); }
.bg-tertiary-darker { background-color: alpha(var(--color-tertiary-darker), var(--bg-o, 1)); }
.bg-tertiary-dark { background-color: alpha(var(--color-tertiary-dark), var(--bg-o, 1)); }
.bg-tertiary { background-color: alpha(var(--color-tertiary), var(--bg-o, 1)); }
.bg-tertiary-light { background-color: alpha(var(--color-tertiary-light), var(--bg-o, 1)); }
.bg-tertiary-lighter { background-color: alpha(var(--color-tertiary-lighter), var(--bg-o, 1)); }
.bg-dark-blue-darker { background-color: alpha(var(--color-dark-blue-darker), var(--bg-o, 1)); }
.bg-dark-blue-dark { background-color: alpha(var(--color-dark-blue-dark), var(--bg-o, 1)); }
.bg-dark-blue { background-color: alpha(var(--color-dark-blue), var(--bg-o, 1)); }
.bg-dark-blue-light { background-color: alpha(var(--color-dark-blue-light), var(--bg-o, 1)); }
.bg-dark-blue-lighter { background-color: alpha(var(--color-dark-blue-lighter), var(--bg-o, 1)); }
.bg-bright-blue-darker { background-color: alpha(var(--color-bright-blue-darker), var(--bg-o, 1)); }
.bg-bright-blue-dark { background-color: alpha(var(--color-bright-blue-dark), var(--bg-o, 1)); }
.bg-bright-blue { background-color: alpha(var(--color-bright-blue), var(--bg-o, 1)); }
.bg-bright-blue-light { background-color: alpha(var(--color-bright-blue-light), var(--bg-o, 1)); }
.bg-bright-blue-lighter { background-color: alpha(var(--color-bright-blue-lighter), var(--bg-o, 1)); }
.bg-footer-darker { background-color: alpha(var(--color-footer-darker), var(--bg-o, 1)); }
.bg-footer-dark { background-color: alpha(var(--color-footer-dark), var(--bg-o, 1)); }
.bg-footer { background-color: alpha(var(--color-footer), var(--bg-o, 1)); }
.bg-footer-light { background-color: alpha(var(--color-footer-light), var(--bg-o, 1)); }
.bg-footer-lighter { background-color: alpha(var(--color-footer-lighter), var(--bg-o, 1)); }
.bg-color-log-bg-darker { background-color: alpha(var(--color-color-log-bg-darker), var(--bg-o, 1)); }
.bg-color-log-bg-dark { background-color: alpha(var(--color-color-log-bg-dark), var(--bg-o, 1)); }
.bg-color-log-bg { background-color: alpha(var(--color-color-log-bg), var(--bg-o, 1)); }
.bg-color-log-bg-light { background-color: alpha(var(--color-color-log-bg-light), var(--bg-o, 1)); }
.bg-color-log-bg-lighter { background-color: alpha(var(--color-color-log-bg-lighter), var(--bg-o, 1)); }
.bg-text-grey-darker { background-color: alpha(var(--color-text-grey-darker), var(--bg-o, 1)); }
.bg-text-grey-dark { background-color: alpha(var(--color-text-grey-dark), var(--bg-o, 1)); }
.bg-text-grey { background-color: alpha(var(--color-text-grey), var(--bg-o, 1)); }
.bg-text-grey-light { background-color: alpha(var(--color-text-grey-light), var(--bg-o, 1)); }
.bg-text-grey-lighter { background-color: alpha(var(--color-text-grey-lighter), var(--bg-o, 1)); }
.bg-text-blue-darker { background-color: alpha(var(--color-text-blue-darker), var(--bg-o, 1)); }
.bg-text-blue-dark { background-color: alpha(var(--color-text-blue-dark), var(--bg-o, 1)); }
.bg-text-blue { background-color: alpha(var(--color-text-blue), var(--bg-o, 1)); }
.bg-text-blue-light { background-color: alpha(var(--color-text-blue-light), var(--bg-o, 1)); }
.bg-text-blue-lighter { background-color: alpha(var(--color-text-blue-lighter), var(--bg-o, 1)); }
.bg-button-green-darker { background-color: alpha(var(--color-button-green-darker), var(--bg-o, 1)); }
.bg-button-green-dark { background-color: alpha(var(--color-button-green-dark), var(--bg-o, 1)); }
.bg-button-green { background-color: alpha(var(--color-button-green), var(--bg-o, 1)); }
.bg-button-green-light { background-color: alpha(var(--color-button-green-light), var(--bg-o, 1)); }
.bg-button-green-lighter { background-color: alpha(var(--color-button-green-lighter), var(--bg-o, 1)); }

// border-color
.border-secondary-darker { border-color: alpha(var(--color-secondary-darker), var(--bg-o, 1)); }
.border-secondary-dark { border-color: alpha(var(--color-secondary-dark), var(--bg-o, 1)); }
.border-secondary { border-color: alpha(var(--color-secondary), var(--bg-o, 1)); }
.border-secondary-light { border-color: alpha(var(--color-secondary-light), var(--bg-o, 1)); }
.border-secondary-lighter { border-color: alpha(var(--color-secondary-lighter), var(--bg-o, 1)); }
.border-tertiary-darker { border-color: alpha(var(--color-tertiary-darker), var(--bg-o, 1)); }
.border-tertiary-dark { border-color: alpha(var(--color-tertiary-dark), var(--bg-o, 1)); }
.border-tertiary { border-color: alpha(var(--color-tertiary), var(--bg-o, 1)); }
.border-tertiary-light { border-color: alpha(var(--color-tertiary-light), var(--bg-o, 1)); }
.border-tertiary-lighter { border-color: alpha(var(--color-tertiary-lighter), var(--bg-o, 1)); }
.border-dark-blue-darker { border-color: alpha(var(--color-dark-blue-darker), var(--bg-o, 1)); }
.border-dark-blue-dark { border-color: alpha(var(--color-dark-blue-dark), var(--bg-o, 1)); }
.border-dark-blue { border-color: alpha(var(--color-dark-blue), var(--bg-o, 1)); }
.border-dark-blue-light { border-color: alpha(var(--color-dark-blue-light), var(--bg-o, 1)); }
.border-dark-blue-lighter { border-color: alpha(var(--color-dark-blue-lighter), var(--bg-o, 1)); }
.border-bright-blue-darker { border-color: alpha(var(--color-bright-blue-darker), var(--bg-o, 1)); }
.border-bright-blue-dark { border-color: alpha(var(--color-bright-blue-dark), var(--bg-o, 1)); }
.border-bright-blue { border-color: alpha(var(--color-bright-blue), var(--bg-o, 1)); }
.border-bright-blue-light { border-color: alpha(var(--color-bright-blue-light), var(--bg-o, 1)); }
.border-bright-blue-lighter { border-color: alpha(var(--color-bright-blue-lighter), var(--bg-o, 1)); }
.border-footer-darker { border-color: alpha(var(--color-footer-darker), var(--bg-o, 1)); }
.border-footer-dark { border-color: alpha(var(--color-footer-dark), var(--bg-o, 1)); }
.border-footer { border-color: alpha(var(--color-footer), var(--bg-o, 1)); }
.border-footer-light { border-color: alpha(var(--color-footer-light), var(--bg-o, 1)); }
.border-footer-lighter { border-color: alpha(var(--color-footer-lighter), var(--bg-o, 1)); }
.border-color-log-bg-darker { border-color: alpha(var(--color-color-log-bg-darker), var(--bg-o, 1)); }
.border-color-log-bg-dark { border-color: alpha(var(--color-color-log-bg-dark), var(--bg-o, 1)); }
.border-color-log-bg { border-color: alpha(var(--color-color-log-bg), var(--bg-o, 1)); }
.border-color-log-bg-light { border-color: alpha(var(--color-color-log-bg-light), var(--bg-o, 1)); }
.border-color-log-bg-lighter { border-color: alpha(var(--color-color-log-bg-lighter), var(--bg-o, 1)); }
.border-text-grey-darker { border-color: alpha(var(--color-text-grey-darker), var(--bg-o, 1)); }
.border-text-grey-dark { border-color: alpha(var(--color-text-grey-dark), var(--bg-o, 1)); }
.border-text-grey { border-color: alpha(var(--color-text-grey), var(--bg-o, 1)); }
.border-text-grey-light { border-color: alpha(var(--color-text-grey-light), var(--bg-o, 1)); }
.border-text-grey-lighter { border-color: alpha(var(--color-text-grey-lighter), var(--bg-o, 1)); }
.border-text-blue-darker { border-color: alpha(var(--color-text-blue-darker), var(--bg-o, 1)); }
.border-text-blue-dark { border-color: alpha(var(--color-text-blue-dark), var(--bg-o, 1)); }
.border-text-blue { border-color: alpha(var(--color-text-blue), var(--bg-o, 1)); }
.border-text-blue-light { border-color: alpha(var(--color-text-blue-light), var(--bg-o, 1)); }
.border-text-blue-lighter { border-color: alpha(var(--color-text-blue-lighter), var(--bg-o, 1)); }
.border-button-green-darker { border-color: alpha(var(--color-button-green-darker), var(--bg-o, 1)); }
.border-button-green-dark { border-color: alpha(var(--color-button-green-dark), var(--bg-o, 1)); }
.border-button-green { border-color: alpha(var(--color-button-green), var(--bg-o, 1)); }
.border-button-green-light { border-color: alpha(var(--color-button-green-light), var(--bg-o, 1)); }
.border-button-green-lighter { border-color: alpha(var(--color-button-green-lighter), var(--bg-o, 1)); }
